.Proyectos {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  justify-items: center;
  margin: 55px auto;
}

.Project__Card {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Project__Card--icon {
  width: 20%;
  height: 20%;
  border-radius: 100px;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project__Card--icon a {
  display: flex;
  justify-content: center;
}

.Project__Card--icon:hover {
  width: 75%;
  height: 75%;
  cursor: pointer;
  transition: all 0.4s;
}

.Project__Card--img {
  width: 0%;
  transition: 0.4s;
  color: white;
}

.Project__Card--icon:hover .Project__Card--img {
  width: 50%;
  display: inline;
}

.Project__Card--name {
  top: 195px;
  color: #212127;
  display: none;
  margin-top: 12px;
  transition: 0.4s;
}

.Project__Card--icon:hover ~ .Project__Card--name {
  /* display: inline; */
  color: #f6f5f5;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .Proyectos {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: -52px;
  }
}

.Project01 {
  background: linear-gradient(52deg, #0a043c 52%, #03506f 100%);
  transition: 0.4s;
}

.Project01:hover {
  background: linear-gradient(52deg, #0a043c 31%, #03506f 100%);
}

.Project02 {
  background: linear-gradient(52deg, #6a097d 52%, #fecd1a 100%);
  transition: 0.4s;
}

.Project02:hover {
  background: linear-gradient(52deg, #6a097d 31%, #fecd1a 100%);
}

.Project03 {
  background: linear-gradient(52deg, #0b380b 52%, #209b20 100%);
  transition: 0.4s;
}

.Project03:hover {
  background: linear-gradient(52deg, #0b380b 31%, #209b20 100%);
}

.Project04 {
  background: linear-gradient(52deg, #69a4d4 52%, #453c58 100%);
  transition: 0.4s;
}

.Project04:hover {
  background: linear-gradient(52deg, #69a4d4 31%, #453c58 100%);
}
