nav{
    width: 100%;
    height: 30px;
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid white; */
    /* background: #082e66; */
    background: #061935;
    box-shadow: 0 0 0 0 #050533;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

nav ul li{
    width: 150px;
    list-style: none;
    padding: 4px 10px;
    text-align: center;
    border-right: 1px solid white;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

nav a:hover{
    font-weight: bold;
    cursor: pointer;
    color: #050533;
    background: white;
}

.projects__detail{
    background: rgb(34, 110, 143);
    width: 150px;
    height: auto;
    position: fixed;
    transition: 0.5s;
    z-index: -1;
    top: -40px;
    border-radius: 0px 0px 10px 0px;
    color: white;
}

.projects__detail ul{
    padding: 0;
}

.projects__detail ul a{
    color: white;
}

.projects__detail ul a:hover{
    background: yellow;
}

.projects__detail ul a:hover{
    background: white;
}

.projects__detail li{
    list-style: none;
    padding: 10px;
}

.prueba{
    margin-top: 100px;
    background: red;
    width: 100px;
    height: 100px;
}

.prueba:hover ~ .projects__detail{ 
    /* display: flex; */
    top: 80px;
}

.projects__detail:hover{ 
    top: 80px;
    z-index: 1;

}