*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background-image: url('../src/assets/background.jpg');
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(180deg, #020024 0%, #090979 35%, #00d4ff 100%); */
    min-height: 100vh;
}